{% extends 'base.html' %}
{% block content %}

<!-- Background -->
  <div id="bg">
    <img src="{{url_for('static', filename='images/pile.jpg')}}">
  </div>


	<div>
		<div style="margin-top: 200px;"><h3>Search for additives in your food</h3></div>
			<div class="bardiv form-group">
				<form action="{{url_for('results')}}" method="GET">
					<input class=" searchbar form-control" style="height:40px;" id="searchbar" type="text" name="search-food" placeholder="Enter a food">
					<input class="btn btn-primary btn-lg" align="center" style="display: block; margin-left: 45%; margin-top: 10px;" id="submitbutton" type="submit" value="Find additives">
				</form>
			</div>
	</div>
{% endblock %}
